doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type="text/javascript", src="/javascripts/lodash.min.js")
    script(type="text/javascript", src="/javascripts/s3upload.js")
    script(type="text/javascript", src="/javascripts/app.js")
